/* ==========================
   NAVBAR
========================== */

.navbar{
    position:sticky;
    top:0;
    z-index:1000;

    background:rgba(15,23,42,.90);
    backdrop-filter:blur(14px);
    -webkit-backdrop-filter:blur(14px);

    border-bottom:1px solid var(--border);

    padding:12px 0;

    transition:var(--transition);
}

/* ==========================
   CONTAINER
========================== */

.navbar .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* ==========================
   LOGO
========================== */

.logo{
    display:flex;
    align-items:center;
    gap:10px;

    font-size:1.3rem;
    font-weight:700;

    color:var(--text);
}

.logo-box{
    width:38px;
    height:38px;

    display:flex;
    align-items:center;
    justify-content:center;

    background:var(--primary);

    border-radius:10px;

    color:#fff;

    font-family:"Poppins",sans-serif;

    font-weight:700;
}

.logo-text{
    font-weight:600;
    color:var(--text);
}

/* ==========================
   NAVIGATION
========================== */

.nav-links{
    display:flex;
    gap:32px;
}

.nav-links a,
.nav-link{
    color:var(--muted);
    font-weight:500;
    transition:var(--transition);
}

.nav-links a:hover,
.nav-link:hover{
    color:var(--primary);
}

.nav-link.active{
    color:var(--secondary);
}
/* ==========================
   NAVBAR ON SCROLL
========================== */

.navbar.scrolled{

    background:rgba(15,23,42,.97);

    box-shadow:0 12px 30px rgba(0,0,0,.25);

}