@media(max-width:900px){

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.stats-grid{

grid-template-columns:1fr;

}

}
.about-grid{
    grid-template-columns:1fr;
}

.about-image{
    max-width:320px;
    margin:auto;
}
@media(max-width:900px){

.expertise-grid{
    grid-template-columns:1fr;
}

}
@media(max-width:900px){

.projects-grid{

grid-template-columns:1fr;

}

}
@media(max-width:900px){

.labs-grid{

grid-template-columns:1fr;

}

}
@media(max-width:900px){

.documentation-grid{

grid-template-columns:1fr;

}

}
@media(max-width:900px){

.certifications-grid{
    grid-template-columns:1fr;
}

}
@media(max-width:900px){

.articles-grid{
    grid-template-columns:1fr;
}

}